<!-- header -->
<header class="head">
        <div class="row top_bar top_bar_container ">
         <div class="col-sm-8">
           <div class="logo_container">
                     <div class="logo">
                       <a href="#">
                         <div class="logo_line_1"><span>Sindh Police</span>Khairpur Mir's</div>
                         <div class="logo_line_2">STRIVING TO SERVE</div>
                         <div class="logo_img"><img src="assets/images/sindhPolice.png" alt="sindhPolice logo" width="50" height="50"></div>
                       </a>
                     </div>
            </div>
         </div>
         <div class="col-sm-4 registerPart">
           <div class="top_bar_content">
                     <div class="btn-group">
             <button type="button" class="btn btn-labeled btn-success regUpperButton" data-toggle="modal" data-target="#loginPopUpWindow">
               login/Registration
             </button>
             
           </div>
                     <!-- <div class="register_login">
                       <div class="register"><a href="#">register</a></div>
                       <div class="login"><a href="#">login</a></div>
                     </div>
                   </div> -->
         </div>
         
       </div> 
       </div> 
       </header>

       <!-- navbar -->

       <nav class="navbar navbar-default navbar-expand-md navbar-dark bg-dark">
          
            <a class="navbar-brand" id="navbrand" href="#myPage">
               <div class="btn-group">
                   <button type="button" class="btn btn-labeled btn-success regUpperButton" data-toggle="modal" data-target="#loginPopUpWindow">
                   login/Registration
                   
                   </button>
                   
               </div>
           </a>
           
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls=" navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                   <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                 </li>
               <li class="nav-item dropdown menu-large">
                   <a class="dropdown-item dropdown-toggle" href="#" >About Us</a>
                       <ul class="dropdown-menu megamenu1">
                         <li>
                           <div class="row">
                             <div class="col-md-6 col-lg-3">
                               <h5>Home</h5>
                               <ul class="list-unstyled mb-3">
                                 <li class="nav-item"><a href="index.html" class="nav-link">History & Vision</a></li>
                                 <li class="nav-item"><a href="index2.html" class="nav-link">Message by IGP Sindh</a></li>
                                 <li class="nav-item"><a href="index3.html" class="nav-link">Contact Details</a></li>
                                 <li class="nav-item"><a href="index4.html" class="nav-link">Laws,Rules and Regulations</a></li>
                                 <li class="nav-item"><a href="index4.html" class="nav-link">Forms & Circulars</a></li>
                                 <li class="nav-item"><a href="index5.html" class="nav-link">Our Shuhda</a></li>
                               </ul>
                             </div>
                           </div>
                         </li>
                       </ul>
                 </li>
                 <li class="nav-item dropdown menu-large">
                   <a class="dropdown-item dropdown-toggle" href="#" >Public Services</a>
                       <ul class="dropdown-menu megamenu4">
                         <li>
                           <div class="row">
                             <div class="col-md-6 col-lg-3">
                               <h5>Reporting</h5>
                               <ul class="list-unstyled mb-3">
                                 <li class="nav-item"><a href="file:///F:/bootstrap-4.0.0-dist/complaint%20detial.html" class="nav-link">E-Fir</a></li>
                                 <li class="nav-item"><a href="file:///D:/Lenovo%20H/Bootstrap%20setup/bootstrap-4.0.0-dist/firTable2.html" class="nav-link">View Status of E-Fir</a></li>
                                 <li class="nav-item"><a href="team-member.html" class="nav-link">E-Complaints</a></li>
                                 <li class="nav-item"><a href="services.html" class="nav-link">View E-Complaints</a></li>
                                 <li class="nav-item"><a href="services.html" class="nav-link">NC Registration</a></li>
                                 <li class="nav-item"><a href="services.html" class="nav-link">View Status of NC</a></li>
                                 <li class="nav-item"><a href="file:///D:/Lenovo%20H/Bootstrap%20setup/bootstrap-4.0.0-dist/registration.html" class="nav-link">SP Complaint Center</a></li>
                                 <li class="nav-item"><a href="portfolio-no-space-4.html" class="nav-link"> SP Complaint Status</a></li>
     
                               </ul>
                             </div>
                             <div class="col-md-6 col-lg-3">
                               <h5>Other_Services</h5>
                               <ul class="list-unstyled mb-3">
                                 <li class="nav-item"><a href="portfolio-2.html" class="nav-link">Character Verfication Certifcate</a></li>
                                 <li class="nav-item"><a href="portfolio-4.html" class="nav-link">Vehicle Verification</a></li>
     
                                 <li class="nav-item"><a href="file:///F:/bootstrap-4.0.0-dist/antiVehicleLiftingSystem.html" class="nav-link">Anti Vehicle Lifting System</a></li>
                                 <li class="nav-item"><a href="services.html" class="nav-link">Driving License</a></li>
                                 
                                 <li class="nav-item"><a href="file:///F:/bootstrap-4.0.0-dist/missingDeadbodies.html" class="nav-link">Missing Dead bodies</a></li>
                                 <li class="nav-item"><a href="file:///D:/Lenovo%20H/Bootstrap%20setup/bootstrap-4.0.0-dist/missingPerson.html" class="nav-link">Missing Persons</a></li>
                                 <li class="nav-item"><a href="file:///F:/bootstrap-4.0.0-dist/recoveredVehicles.html" class="nav-link">Recovered Vehicles</a></li>
                                 <li class="nav-item"><a href="file:///D:/Lenovo%20H/Bootstrap%20setup/bootstrap-4.0.0-dist/criminal.html#" class="nav-link">Most Wanted</a></li>
                                 </ul>
                             </div>
                           </div>
                         </li>
                       </ul>
                     </li>
               <li class="nav-item dropdown menu-large">
                   <a class="dropdown-item dropdown-toggle" href="#">Media Room</a>
                   <ul class="dropdown-menu megamenu2">
                     <div class="col-md-6 col-lg-3">
                               <h5>Media_Room</h5>
                               <ul class="list-unstyled mb-3">
                                 <li class="nav-item"><a href="portfolio-2.html" class="nav-link">News</a></li>
                                 <li class="nav-item"><a href="portfolio-no-space-2.html" class="nav-link">Press Release</a></li>
                                 <li class="nav-item"><a href="portfolio-no-space-4.html" class="nav-link">Article/Columns</a></li>
                               </ul>
                             </div>
                   </ul>
               </li>
               <li class="nav-item dropdown menu-large">
                   <a class="dropdown-item dropdown-toggle" href="#">Statistics</a>
                   <ul class="dropdown-menu megamenu3">
                     <div class="col-md-6 col-lg-3">
                               <h5>Statistics</h5>
                               <ul class="list-unstyled mb-3">
                                 <li class="nav-item"><a href="portfolio-2.html" class="nav-link">Police Performance</a></li>
                                 <li class="nav-item"><a href="portfolio-no-space-2.html" class="nav-link">Crime Statistics</a></li>
                                 <li class="nav-item"><a href="portfolio-no-space-4.html" class="nav-link">Honour Killing</a></li>
                                 <li class="nav-item"><a href="portfolio-3.html" class="nav-link">Our Budget</a></li>
                                 <li class="nav-item"><a href="portfolio-no-space-3.html" class="nav-link">Accountbility Mechanism</a></li>
                               </ul>
                             </div>
                   </ul>
               </li>
                 <li class="nav-item ">
                   <a class="nav-link" href="#">Gallery<span class="sr-only">(current)</span></a>
                 </li>
                  <li class="nav-item ">
                   <a class="nav-link" [routerLink]="['/admin']">Criminal Records<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item ">
                   <a class="nav-link" href="file:///D:/Lenovo%20H/Bootstrap%20setup/bootstrap-4.0.0-dist/team.html">Development Team<span class="sr-only">(current)</span></a>
                 </li>
                 
             </ul>
             <button type="button" id="sidebarCollapse" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
           </div>
       </nav>

         
       