<div class="container-fluid">
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header" >
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
              <span class="d-block d-lg-none"><img class="img-fluid img-profile rounded-circle mx-auto mb-2 center" src="assets/images/sindhPolice.png" alt=""></span>
              <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2 center" src="assets/images/iqra.jpg" alt="">
                <b> Jqra Rajput</b>
              </span>
            </a>
        </div>
  
        <ul class="list-unstyled components">
          
            <li >
                <a [routerLink]="['/admin']">Slider</a>
                <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul> -->
            </li>
            <li >
                <a [routerLink]="['/admin/viewFirs']">Firs <span class="badge badge-danger">{{noOfFirs}}</span></a>
            </li>
            <li >
                <a [routerLink]="['/admin/viewNCs']">NCs <span class="badge badge-danger">{{noOfNCs}}</span></a>
            </li>
            <li>
                <a [routerLink]="['/admin/criminal']">Criminal</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
  
    </nav>
  
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#adminNavbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="adminNavbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['criminal/viewCriminal']">View Criminal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
        
    </div>
    <!-- Page Content Holder -->
    <!-- <div id="content">
      
    </div> -->
  </div>
</div>


    <!-- Modal -->
<div class="modal fade" #deleSliderDialog id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Do You want to remove ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="delSlider(deleSliderDialog)">Delete</button>
        </div>
      </div>
    </div>
  </div>