
    
    
/* .select-boxes{text-align: center;}
select {
    background-color: #F5F5F5;
    border: 1px double #15a6c7;
    color: #1d93d1;
    font-family: Georgia;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    padding: 5px 8px;
    width: 250px;
    outline: none;
    
}
select option{
    font-family: Georgia;
    font-size: 14px;
} */
    
    
/* Basic reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font: bold 14px Arial, sans-serif;
} */

/* Finally adding some IE9 fallbacks for gradients to finish things up */

/* A nice BG gradient */


/* Using box shadows to create 3D effects */
/* #calculator {
    width: 325px;
    height: auto;
    margin: 0px auto;
    padding: 20px 20px 9px;
    background: #9dd2ea;
    background: linear-gradient(rgba(171, 183, 241, 0.87), #8bceec);
    border-radius: 20px;
    box-shadow: 0px 4px rgba(0, 104, 136, 0.53), 0px 10px 15px rgba(0, 0, 0, 0.2);
} */

/* .boxsizingBorder{
    width:100%;
   
}
.row-title{
  height: 80px;
}
.regButton{
  width:100%;
}
.my-row{
border: 3px ;
}
.my-col{
border: 3px  ;
}
.my-container{
  border: 1px ;
  margin-top: 50px;
  padding: 20px;
} */

