
  
  /*modal css*/
  .material-switch > input[type="checkbox"] {
      display: none;   
  }
  
  .material-switch > label {
      cursor: pointer;
      height: 0px;
      position: relative; 
      width: 40px;  
  }
  
  .material-switch > label::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position:absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
  }
  .material-switch > label::after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
  }
  .material-switch > input[type="checkbox"]:checked + label::before {
      background: #ffa800;
      opacity: 1.5;
  }
  .material-switch > input[type="checkbox"]:checked + label::after {
      background: #ffa800;
      left: 20px;
  }
  
  .forgetPassword{
    padding: 10px;
  }
  .btn-circle.btn-xl {
      width: 100px;
      height: 100px;
      padding: 10px 16px;
      border-radius: 50px;
      font-size: 24px;
      line-height: 1.33;
  }
  
  .card:hover{
    -webkit-box-shadow: 1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  