<div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px">
    <section id="about">
        <div class="container">
   <div class="card text-center">
       <div class="card-header bg-success mb-3 border-success "><h5><b style="color: white;">Services</b></h5></div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-center" routerLink="/fir" routerLinkActive="active">
              <div class="card-body">
  
                <button type="button" routerLink="/fir" routerLinkActive="active" class="btn btn-success btn-circle btn-xl btn-lg">
                  <i class="fa fa-check"></i>
                </button>
              </div>
          </div>
           <div class="card-footer bg-transparent border-success">
             <a routerLink="/fir" routerLinkActive="active"><b>E-Fir</b></a>
           </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center" >
  
              <div class="card-body">
  
                <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-check"></i>
                              </button>
              
              </div>	
          </div>
          <div class="card-footer bg-transparent border-success"><a routerLink="/antiVehicleLiftinSystem" routerLinkActive="active"><b>Anti Vehicle Lifting System</b></a></div>
          </div>
  
          <div class="col-md-4">
            <div class="card text-center ">
              <div class="card-body">
  
                <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-check"></i>
                              </button>
              </div>
          </div>
          <div class="card-footer bg-transparent border-success">
            <a routerLink="/nc" routerLinkActive="active"><a><b>E-NC Registration</b></a></a>  
          </div>
            
        </div>
          <!-- <div class="col-md-3">
            <div class="card text-center ">
              <div class="card-body">
  
                <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-check"></i>
                              </button>
              </div>
          </div>
          <div class="card-footer bg-transparent border-success"><b>View E-NC</b></div>
          </div>
           -->
  
        </div>
        <div class="row" >
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
  
                <button type="button" class="btn btn-success btn-circle btn-xl btn-lg"><i class="fa fa-check"></i>
                              </button>
              </div>
          </div>
           <div class="card-footer bg-transparent border-success"><a routerLink="/viewDeadBodies" routerLinkActive="active" ><b>View Dead bodies</b></a></div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
  
                <button type="button" class="btn btn-success btn-circle btn-xl btn-lg"><i class="fa fa-check"></i>
                              </button>
              </div>
          </div>
           <div class="card-footer bg-transparent border-success"><a routerLink="/missingPerson" routerLinkActive="active"><b>Missing Person</b></a></div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
  
                <button type="button" class="btn btn-success btn-circle btn-xl btn-lg"><i class="fa fa-check"></i>
                              </button>
              </div>
          </div>
           <div class="card-footer bg-transparent border-success"><a routerLink="/missingPerson" routerLinkActive="active"><b>Recovered Vehicles</b></a></div>
          </div>
          <!-- <div class="col-md-3">
            <div class="card text-center">
              <div class="card-body">
  
                <button type="button" class="btn btn-success btn-circle btn-xl btn-lg"><i class="fa fa-check"></i>
                              </button>
              </div>
          </div>
           <div class="card-footer bg-transparent border-success"><b>Character Verification</b></div>
          </div> -->
          
        </div>
        
      </div>
      
  </div>
  
        </div>
      </section>
</div>