.regButton{
    width:100%;
  }
  .my-row{
  border: 3px ;
  font: bold 14px Arial, sans-serif; 
  }
  .my-col{
  border: 3px  ;
  }
  .my-container{
    border: 1px ;
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
    
    /* Better text styling */
    font: bold 14px Arial, sans-serif;
  }
  
  .my-container {
    font: bold 14px Arial, sans-serif;
    color: #263238; 
  }
  
  
  .loginClose{
    color: red;
    background: red
  }
  
  .regButton{
    background-color: #263238;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
  
  .regButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .regButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .regButton:hover span {
    padding-right: 25px;
  }
  
  .regButton:hover span:after {
    opacity: 1;
    right: 0;
  }
  .regButton:hover{
    background: #ffa800;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }

  .card:hover{
    -webkit-box-shadow: 1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  /* table css */
  table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.view {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}  

/* badge css */
.statusDivSuccess{
  background-color: #1B5E20;
box-shadow: 5px 10px 10px grey;

} 
.statusDivPending{
  background-color: #E34724;
box-shadow: 5px 10px 10px grey;

} 
.statusDivSuccess:hover{
  background: #4CAF50;
  color: inherit;
  color: aliceblue;
} 

.statusDivPending:hover{
  background: #FF5722;
  color: inherit;
  color: aliceblue;
} 