<div class="card" style="margin: 70px;">
  <div class="card-header bg-success mb-3 border-success text-center">
     <h5><b style="color: white;">FIR DETAILS</b></h5>
  </div>
  
  <div id="outer">
     <div id="inner">
      <select value="1" class="form-control selectpicker" data-width="fit" (change)="getLanguage($event.target.value)">
         <option value="1" selected>
            English
         </option>
         <option value="2">
            Sindhi
         </option>
      </select>
     </div>
  </div>
   <div class="card-header text-center" style="background: none">
      <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
         <h4 class="alert-heading">Note!</h4>
         <p>Do not give false Information or accusing any one intentionally other wise same FIR will be applied against You.</p>
         <hr>
         <p class="mb-0">Thank You.</p>
         
       </div>
   </div>
  <div class="card-body center">
     <form [formGroup]="firForm" (ngSubmit)="onSubmit()" class="form-horizontal" action=" " method="post"  id="reg_form">
        <fieldset>
           <!-- row 1 -->
           <!-- FIR Details -->
           <div class="row justify-content-center my-row">
              <div class="col-sm-6 my-col">
                 <div class="form-group">
                    <label class="control-label">{{languageResponse.dateOfCrime}}</label>
                    <div class="inputGroupContainer">
                       <div class="input-group">
                          <div class="input-group-prepend">
                             <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                          <input name="dateOfCrime" bsDatepicker (blur)="logValidationError()" [class.is-invalid]="formErrors.dateOfCrime" placeholder="Date of Incident (e.g dd-mm-yyy)"  formControlName="dateOfCrime" class="form-control"  type="text">
                          
                        </div>
                        <div *ngIf="formErrors.dateOfCrime">
                           <small class="text-danger">
                              {{formErrors.dateOfCrime}}
                           </small>              
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-sm-6 my-col">
                 <div class="form-group" >
                    <label class="control-label">{{languageResponse.typeOfCrime}}</label>
                    <div class="selectContainer" formControlName="crime">
                          
                          <ng-multiselect-dropdown-angular7 
                              name="crime"
                              [data]="firCrimeTypes"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)" 
                              (onDropdownClose)="onDropdownClose()"
                              (blur)="logValidationError()" [class.is-invalid]="formErrors.crime">    
                           </ng-multiselect-dropdown-angular7 >    
                       <div *ngIf="flagForValidation">
                           <small class="text-danger">
                              Crime Type is required
                           </small>              
                        </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row justify-content-center my-row">
              <div class="col-sm-6 my-col">
                 <div class="form-group">
                    <label class="control-label">{{languageResponse.nearestPoliceStation}}</label>
                    <div class="selectContainer">
                       <div class="input-group">
                          <div class="input-group-prepend">
                             <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-list"></i></span>
                          </div>
                          <select name="policeStation" (blur)="logValidationError()" [class.is-invalid]="formErrors.policeStation" (change)="getPoliceStationIndex($event.target.value)" class="form-control selectpicker" formControlName="policeStation">
                              <option value=" " >Please select</option>
                              <option *ngFor="let policeStation of policeStatons;let i=index" [value]="policeStation.id">
                                    {{policeStation.name}}
                              </option>
                              
                          </select>
                       </div>
                       <div *ngIf="formErrors.policeStation">
                        <small class="text-danger">
                           {{formErrors.policeStation}}
                        </small>              
                     </div>
                    </div>
                 </div>
              </div>
              <div class="col-sm-6 my-col">
                 <!-- Text input-->
                 <div class="form-group">
                    <label class="control-label">{{languageResponse.proofs}}</label>
                    <div class="inputGroupContainer">
                       <div class="input-group">
                          <div class="input-group-prepend">
                             <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-paperclip"></i></span>
                          </div>
                          <input name="files" (change)="onSelectFile($event)" formControlName="files" placeholder="folder.zip" class="form-control"  type="file" multiple>
                          <button class="btn btn-success " (click)="resetFiles()">Reset</button>
                        </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row justify-content-center my-row">
              <div class="col-sm-6 my-col">
                 <div class="form-group">
                    <label class="control-label">{{languageResponse.placeOfIncident}}</label>
                    <div class="inputGroupContainer">
                       <div class="input-group">
                          <div class="input-group-prepend">
                             <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-home"></i></span>
                          </div>
                          <textarea name="placeOfIncident" (blur)="logValidationError()" [class.is-invalid]="formErrors.placeOfIncident" placeholder="Place of Incident"  formControlName="placeOfIncident" class="form-control" ></textarea>
                          
                        </div>
                        <div *ngIf="formErrors.placeOfIncident">
                           <small class="text-danger">
                              {{formErrors.placeOfIncident}}
                           </small>              
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-sm-6 my-col">
                  <div class="form-group">
                     <label class="control-label">{{languageResponse.addressOfcomplainant}}</label>
                     <div class="inputGroupContainer">
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-home"></i></span>
                           </div>
                           <textarea name="addressOfcomplainant" (blur)="logValidationError()" [class.is-invalid]="formErrors.addressOfcomplainant" placeholder="Address Of Complainant"  formControlName="addressOfcomplainant" class="form-control" ></textarea>
                           
                         </div>
                         <div *ngIf="formErrors.addressOfcomplainant">
                            <small class="text-danger">
                               {{formErrors.addressOfcomplainant}}
                            </small>              
                         </div>
                     </div>
                  </div>
               </div>
           </div>
           <div class="row justify-content-center my-row">
              <div class="col-sm-12 my-col">
                 <div class="form-group">
                    <label class="control-label">{{languageResponse.firDetails}}</label>
                    <div class="inputGroupContainer boxsizingBorder">
                       <div class="input-group boxsizingBorder">
                          <div class="input-group-prepend">
                             <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
                          </div>
                          <textarea (blur)="logValidationError()" [class.is-invalid]="formErrors.description" class="form-control boxsizingBorder" formControlName="description" name="description" placeholder="Complaint Details  "></textarea>
                       </div>
                       <div *ngIf="formErrors.description">
                        <small class="text-danger">
                           {{formErrors.description}}
                        </small>              
                     </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- row 6 -->
           <div class="row justify-content-center my-row">
              <div class="col-sm-6">
                 <!-- Button -->
                 <div class="form-group ">
                    <label class="control-label"></label>
                    <div class="">
                       <button type="submit" [disabled]="firForm.invalid" class="btn btn-success regButton"><span >Submit</span></button>
                    </div>
                 </div>
              </div>
           </div>
        </fieldset>
     </form>
     <table class="table table-bordered" style="margin-top: 50px;margin-bottom: 50px">
      <thead>
        <tr>
          <th scope="col">Fir No</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let fir of userFirs">
          <td>{{fir.id}}</td>
          <td>
              <h5> 
                  <a [ngClass]="getColor(fir.status)">{{pendingOrSubmitted}}</a>
              </h5> 
          </td>
          <td>
            <a (click)="viewFir(fir.id)" class="view" title="view" data-toggle="tooltip"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a class="delete" title="delete" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

