.btn-rounded {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 15px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
#cardViewForCriminal,.paginationCss{
    margin-bottom: 50px;
}
.card:hover{
  -webkit-box-shadow: 1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
   border-radius: 20px;

}

.card-body .card-text,.whiteParagraph{
    color: white;
}
.statusDiv{
    background-color: #f44336;
  box-shadow: 5px 10px 10px grey;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100px;
  margin: 10px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #f44336;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
